@charset "UTF-8";

* {
  font-family: Meiryo, "Hiragino Kaku Gothic Pro", sans-serif;
  font-size: 16px;
  color: #00060f;
  line-height: 1.6;
}

body {
  width: 640px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f0f9ff;
}

h1 {
  font-weight: bold;
  font-size: 150%;
  color: #0099ff;
  margin: 0px;
}

h2 {
  font-weight: bold;
  font-size: 130%;
  color: #0066ff;
  margin: 0px;
}

h3 {
  font-weight: bold;
  font-size: 110%;
  margin: 0px;
}